.MoreArticles_head{
    color: #331B3B;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 106.3%; /* 36.142px */
    letter-spacing: -0.34px;
    margin-bottom: 40px;
}
